.user-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 12px;
  width: 100%;

  margin-top: 10px;
  animation: listFade 0.3s ease-out;
}

@keyframes listFade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
